**/users
**/img/posters
/versions/php/parser-kinopoisk/v2.0/result/*
/versions/php/parser-kinopoisk/v2.0/logs/*
/versions/php/parser-kinopoisk/v3.0/result/*
/versions/php/parser-kinopoisk/v3.0/logs/*
/versions/php/parser-kinopoisk/v3.0/v3.0.sublime-workspace
/versions/php/parser-kinopoisk/v3.0/v3.0.sublime-project