<!DOCTYPE html>
<html>
<head>
	<title>Random movie that you would like to revise (c) Script was made by Ivan Volkov aka oOLokiOo</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="/css/style.css" />
	<style type="text/css">
		img {
			<%if (config.show_large_image === true) { %>
				min-width: 360px;
			<% } else { %>
				min-width: 180px;
			<% } %>
		}
	</style>
</head>
<body>
	<header>
		<menu>
			<ul>
				<li><a href="./?page=index">Main<a></li>
			</ul>
		</menu>

		<%# ?php if (isset($film->errors)) { ?>
			<p class="error">
				<?php foreach($film->errors as $error) { ?>
					<?=$error?><br />
				<?php } ?>
			</p>
		<?php } ? #%>
	</header>

	<main>
